<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:\Users\AABLESSM\IdeaProjects\RobotWars Server\databases\database.db
        </property>
        <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="show_sql">False</property>
    </session-factory>
</hibernate-configuration>